.popup{
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
}
.popup__input{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}
.popup__input p {
  font-size: 1rem;
}

.popup__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.popup__header h2 {
  font-size: 2rem;
}
.popup__header p {
  font-size: 1rem;
}
.popup__input input, .popup__input button{
  border-radius: 24px;
  border: 1px solid #d1d1d1;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.popup__input button{
  color: #fff;
  background-color: #000;
  
  cursor: pointer;
  outline: none;
  border: none;
}
.popup__footer{
  width: 100%;
  border-top:  1px solid #969696;
  font-size: 1rem;

}
.popup__footer p {
  text-align: end;
  color: #969696;
}
.popup__footer p a {
  color: #969696;
}
.popup__routes {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 0.7rem;

}
.popup__routes button {
  color: #fff;
  background-color: #d1d1d1;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 24px;
 box-shadow:  1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.5rem 0.8rem;
}
button:disabled {
  opacity: 0.5; /* Makes it visibly disabled */
  cursor: not-allowed; /* Shows a disabled cursor */
}